#root {
  height: 100vh;
  overflow: hidden;
}
.primary-button, .secondary-button {
  border: none;
  background-color: #8C61CB;
  width: 100%;
  color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  height: 52px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  font-family: Inter-Medium;
  box-sizing: border-box;

}
.secondary-button {
  background-color: transparent !important;
  border: 1px solid #DCDCDC;
  color: #282828;

  &.disabled {
    background-color: transparent !important;
    color: #A8A7A7 !important;
    border: 1px solid #A8A7A7 !important;
  }
}

.disabled {
  cursor: not-allowed;
  user-select: none;
  color: #FFF;
  border-color: #FFF;
  background-color: #A8A7A7 !important;
}


.configure-lab-container {
  width: 100%;
  padding: 25px 30px;
  box-sizing: border-box;
  height: 85vh;
  // padding-bottom: 90px;
  // overflow-y: scroll;
  overflow: hidden;

  &::-webkit-scrollbar {
    background-color: transparent;
  }
}

.configure-lab-header {
  // text-align: center;
  & > h1 {
    font-size: 22px;
    font-family: Inter-Bold;
    font-weight: 700;
    color: #282828;
    margin-bottom: 10px;
    margin-top: 0px;

    & .optional-text-muted {
      font-family: Inter-Regular;
      display: block;
      font-size: 13px;
      text-transform: uppercase;
      margin: 8px 0px 18px;
      letter-spacing: 1px;
    }
  }

  & > span, & .breadcrumbs {
    font-family: Inter-Regular;
    font-size: 18px;
    font-weight: 500;
    color: #858585;
  }
}
.left-aligned {
  text-align: left;
}

.breadcrumbs {
  font-size: 14px !important;
  color: rgba(133, 133, 133, 1) !important;
  cursor: pointer;

  & .active {
    font-family: 'Inter-Medium';
    color: #8C61CB !important;
  }
}

.configure-set-container {
  width: 100%;
  flex: 1;
  margin-top: 40px;

  &::-webkit-scrollbar {
    background-color: transparent;
  }

  .configure-set-1 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 20px 0px;

    & > .configure-school-name {
      margin-top: 8px;
      padding: 0;
    }

    .configure-sub-set-container:nth-child(odd) {
      padding-left: 0px;
    }
    .configure-sub-set-container:nth-child(even) {
      padding-right: 0px;
    }
    .configure-sub-set-container:nth-last-child(1) {
      padding-right: 0px;
      padding-left: 0px;
    }

    input.configure-set-dropdown:disabled {
      background-color: hsl(0, 0%, 95%);
    }
    input.configure-set-dropdown, .custom-set {
      border-radius: 6px;
      border: 1px solid #d2d2d2;
      padding: 8px 10px;
      font-family: 'Inter-Regular';
      font-size: 16px;
      box-shadow: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: hsl(0, 0%, 20%);
      box-sizing: border-box;
      font-family: Inter-Medium;

        &::placeholder {
          color: hsl(0, 0%, 50%) !important;
          font-family: "Inter-Regular";
        }
    }

    .file-preview {
      background: rgba(220, 220, 220, 0.4);
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 6px 10px;
      color: #504F4F;
      font-family: Inter-Regular;
      margin: 0px 8px 4px 0px;
    }

    .configure-set-dropdown {
      width: 100%;
      cursor: pointer;

      & > div {
        border-radius: 6px;
        border-color: #d2d2d2;
      }
    }

        .custom-set {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          cursor: default;
          position: relative;

          & .upload-text {
            font-family: 'Inter-Regular';
            font-size: 16px;
            padding: 0;
          }

          & button {
            z-index: 99;
            border: none;
            background: rgba(140, 97, 203, 0.12);
            border-radius: 6px;
            color: #8C61CB;
            font-family: 'Inter-Medium';
            padding: 8px 16px;
            // position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            & img {
              margin-right: 4px;
            }

            & input {
              position: absolute;
              top: 0px;
              left: 0px;
              width: 100%;
              height: 100%;
              opacity: 0;
            }
          }
        }

    & span {
      // width: 100%;
      font-size: 14px;
      color: #858585;
      padding-bottom: 6px;
    }
  }
}

.configure-sub-set-container {
  flex-grow: 1;
  flex-basis: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  & > span {
    margin-right: 20px;
  }
}

.primary-button-container {
  z-index: 1;
  width: 100%;
  padding: 20px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0px;
  background-color: #FFF;

  & > button:nth-child(2) {
    margin-left: 10px;
  }
}

.preview-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  text-align: left;
  margin: 25px 0px 20px;
  border-radius: 8px;
  width: 100%;
  align-items: center;
  padding: 12px 0px;
  box-sizing: border-box;

  & .preview-set {
    flex: 0 0 30%;
    box-sizing: border-box;

    // &:nth-child(2) {
    //   flex-grow: 0.7;
    // }

    & > span {
      font-size: 14px;
      color: #858585;
      margin-bottom: 8px;
      box-sizing: border-box;
      display: block;
    }

    & > h1 {
      font-size: 18px;
      font-family: Inter-Medium;
      font-weight: 700;
      color: #282828;
      margin-bottom: 0px;
      margin-top: 0px;
      text-transform: capitalize;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      max-width: 200px;
    }

    & .preview-status-notStarted {
      color: #858585;
    }

    & .preview-status-compatible {
      color: #01AA93;
    }

    & .preview-status-processing {
      color: #8C61CB;
    }

    & .preview-status-incompatible {
      color: #D34B57;
    }
  }
}


.collapsible-content-edonec {
  overflow: hidden;
  transition: height 0.2s ease-in-out;
  background-color: #8C61CB14;
}

.title-text-edonec {
  display: block;
  font-size: 1em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Inter-Medium';
  color: #8C61CB;
}

.collapsible-header-edonec {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 5px 20px;
  background-color: #8C61CB14;
  cursor: pointer;
}

.collapsible-content-padding-edonec {
  padding: 8px 20px 20px 20px;
}

.rotate-center-edonec {
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.rotate-center-edonec.down {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.rotate-center-edonec.up {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.collapsible-icon-button-edonec {
  cursor: pointer;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.collapsible-card-edonec {
  transition: 0.3s;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 10px;
}

table {
  width: -webkit-fill-available;
  border-collapse: collapse;
  background-color: #FFF;
  margin: 0px 2px;
  border-radius: 8px;
  // border: 1px solid #E2E2E2;
  box-shadow: 0 0 0 1px #E2E2E2;
}

th {
  color: #282828;
  padding: 15px 20px;
  font-size: 14px;
  font-family: 'Inter-Medium';
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  border: 1px solid #E2E2E2;
  border-width: 0px 1px 1px 0px;
  margin: 0px;

   &:nth-child(3) {
    text-align: center;
  }

  &:nth-last-child(1) {
    border-right-width: 0px;
  }
 }

td {
  text-align: left;
  padding: 12px 20px;
  color: #858585;
  border: 1px solid #E2E2E2;
  border-width: 0px 1px 0px 0px;
  font-size: 14px;
  text-transform: capitalize;

  &:nth-child(3) {
    border-width: 0px 1px 0px 1px;
  }
  &:nth-child(2) {
    border-width: 0px 0px 0px 0px;
  }


  &:nth-last-child(1) {
    border-right-width: 0px;
  }
}


.status-badge {
  padding: 4px 8px 4px 14px;
  width: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  text-transform: capitalize;

  & > img {
    margin-right: 8px;
    width: 12px;
    height: 12px;
  }

  &.badge-compatible {
    background-color: #01AA931F;
    color: #01AA93;
  }
  &.badge-processing {
    background-color: rgba(140, 97, 203, 0.08);
    color: #8C61CB;
    font-family: 'Inter-Regular';
    justify-content: center;

    & > img {
      width: 13px !important;
      height: 13px !important;
    }
  }
  &.badge-incompatible {
    background-color: #D34B571F;
    color: #D34B57;
  }
  &.badge-notStarted {
    justify-content: center;
    background-color: rgba(220, 220, 220, 0.2);
  }
}

.onlineOfflineStrip {
  width: 100%;
  padding: auto;
  height: 38px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(1, 170, 147, 0.2);
  color: rgba(0, 133, 115, 1);

  & > img {
    margin-right: 8px;
    width: 14px;
    height: 14px;
  }
}

.offlineStrip {
  background: rgba(211, 75, 87, 0.2) !important;
  color: rgba(211, 75, 87, 1) !important;
}

.status-toggle {
  border: 1px solid #E2E2E2;
  border-radius: 4px;
  padding: 4px;
  display: flex;

  & span {
    padding: 6px 12px;
    font-size: 14px;
    font-family: 'Inter-Regular';
    color: #A8A7A7;
    border-radius: 4px;
    text-transform: capitalize;
    cursor: pointer;

    &:nth-child(1) {
      margin-right: 8px;
    }

    &.disabled-active {
      background: rgba(211, 75, 87, 0.12);
      color: #D34B57;
    }

    &.active {
      background: rgba(140, 97, 203, 0.12);
      color: #8C61CB;
    }
  }
}

.configure-lab-master-container {
  display: flex;
  justify-content: center;
  // align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
}

.configure-centerred-container {
  background-color: #FFF;
  position: relative;
  display: block;
  box-sizing: border-box;
  border-radius: 12px;
  min-width: 800px;
  max-width: 900px;
  height: fit-content;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  margin-top: 24px;
  position: relative;
}

.progress-steps {
  padding: 12px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  border-radius: 12px;
  color: #A8A7A7;
  &:nth-child(2) {
    margin: 0px 5px;
  }

  & .progress-step-label {
      font-family: 'Inter-Regular';
      font-size: 14px;
      margin-bottom: 4px;
      color: inherit;
  }
  & .progress-step-title {
    font-family: 'Inter-SemiBold';
    font-size: 16px;
    color: inherit;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  &.active {
    color: #8C61CB;
    border: none;
    background: #f7f3fb;
    & .progress-step-percentage {
      background: rgba(140, 97, 203, 0.12);
      border: 1px solid rgba(140, 97, 203, 0.4);
    }
  }

  &.completed {
    color: #8C61CB;
    border: none;
    background: #f7f3fb;
    // box-shadow: 0px 2px 1px rgb(140, 97, 203);
    & .progress-step-title, & .progress-step-label {
      opacity: 0.6;
    }
    & .progress-step-percentage {
      background: rgba(140, 97, 203, 0.12);
      border: 1px solid rgba(140, 97, 203, 0.4);
    }
  }

  & .progress-step-percentage {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 8px;
    background: #FFF;
    border: 1px solid #DCDCDC;
    margin-left: 12px;
  }
}

.progress-bar {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 3px;

}

.lab-configuration-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;

  & > span {
    font-size: 14px;
    font-family: 'Inter-Medium';
    color: #858585;
    text-transform: uppercase;
  }

  & > .lab-details-bar {
    flex: 1;
    height: 1px;
    margin: 0px 8px;
    background-color: #E2E2E2;
  }

  & button {
    color: #8C61CB;
    border-radius: 4px;
    border: none;
    color: #8C61CB;
    font-size: 12px;
    background-color: transparent;
    font-family: 'Inter-SemiBold';
    padding: 8px 16px;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    letter-spacing: 0.8px;
  }
}

.scroll-container {
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  padding-bottom: 350px;

  &::-webkit-scrollbar, &::-webkit-scrollbar-track {
    display: none;
  }
}

.manual-check-container {
  border: 1px solid #E2E2E2;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;

  & .manual-check-title {
    display: block;
    font-family: 'Inter-Medium';
    font-size: 16px;
    color: #282828;
    margin-bottom: 4px;
  }
  & .manual-check-description {
    display: block;
    font-family: 'Inter-Regular';
    font-size: 12px;
    color: #858585;
  }
}

.configure-lab-congrats-container {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  background: #fbf9fd;
  border: 3px solid rgba(140, 97, 203, 0.12);
  border-radius: 20px;
  width: 100%;
  // position: sticky;
  // top: 0px;

  & h1 {
    font-family: 'Inter-SemiBold';
    font-size: 22px;
    line-height: 34px;
    color: #8C61CB;
  }
}

.inspection-summary-container {
  margin-top: 20px;

  & .inspection-summary-header {
    font-size: 20px;
    font-family: 'Inter-SemiBold';
    color: #282828;
    margin-bottom: 20px;

    & > span {
      margin-top: 8px;
      display: block;
      font-size: 14px;
      font-family: 'Inter-Regular';
      color: #858585;
    }
  }
}

.loading-icon-container {
  position: absolute;
  right: 10px;
  top: calc(50% - 10px);
}

.loader {
  position: relative;
  height: 20px;
  width: 20px;
  display: inline-block;
  animation: around 5.4s infinite;
}

@keyframes around {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

.loader::after,
.loader::before {
  content: "";
  background: transparent;
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-width: 3px;
  border-color: #A4A4A4 #A4A4A4 transparent transparent;
  border-style: solid;
  border-radius: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  animation: around 0.7s ease-in-out infinite;
}

.white-primary::before, .white-primary::after{
  border-color: white white transparent transparent !important;
}

.loader::after {
  animation: around 0.7s ease-in-out 0.1s infinite;
  background: transparent;
}

input:disabled {
  color: hsl(0, 0%, 60%) !important;
  font-family: Inter-Medium !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  width: fit-content !important;
  background-color: #f7f3fb;
  font-family: 'Inter-Medium';
  color: #8C61CB !important;
  box-shadow: 2px 2px 2px rgba(140, 97, 203, 0.4);
  text-align: center;
  border-radius: 6px;
  cursor: text;
  font-style: normal;
  padding: 8px 10px;

  /* Position the tooltip */
  position: absolute;
  top: 10px;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: all .3s;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
  transition: all .3s;
}
